/* joint.css */

/* General Paper Styles */
.joint-paper {
    background-color: #f0f0f0;
    border: 2px solid #d68787;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Nodes Styling */
  .joint-cell {
    cursor: default;
  }
  
  .joint-cell .element {
    stroke: #000;
    fill: #fefece;
  }
  
  .joint-cell .label {
    font-size: 12px;
    font-weight: bold;
    fill: #473a17;
  }
  
  /* Disable hover and selection borders */
  .joint-cell.selected,
  .joint-cell-hover {
    outline: none;
    box-shadow: none;
  }
  